body {
    background-color: #faf0e6; 
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
header {
    background-color: #faf0e6;
    color: black;
    text-align: center;
    padding: 20px 0;
}
h1 {
    font-size: 55px !important; 
    margin-bottom: 10px;
    margin-top: 2px;
    font-family: 'Public Sans', sans-serif;
}
a {
    color: black;
}
body,
nav ul li a,
.welcome h2,
.container,
h3,
footer p {
    font-family: 'Roboto', sans-serif; 
}

nav {
    background-color: #faf0e6;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #d9b99b;
    border-radius: 10px;
}
nav ul li a:hover {
    background-color: #c49264;
    color: #ffffff;
    border-color: #c49264;
    text-decoration: none;
}

.cijela_biografija{
    background-color: #faf0e6;
}
.biografija {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}
.biografija img {
    max-width: 20%;
    border-radius: 10px;
}
.biografija div {
    max-width: 55%;
    text-align: left;
    padding: 50px;
    background-color: #faf0e6;
    border-radius: 10px;
}
.biografija .opis1 {
    background-color: #f3d9bc;
}
.biografija .opis2 {
    background-color: #e0d3c3;
}

.podaci {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.moji-naslovi {
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}

.section-title {
    width: 100%;
    text-align: left;
    font-size: 24px;
    margin-left: 230px;
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #d9b99b; 
    padding: 20px 0;
    text-align: left;
    clear: both; 
}

footer i {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

footer p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
}

footer .right {
    text-align: right;
    padding: 30px;
}

footer .right p {
    text-align: center;
}

.middle {
    text-align: center;
    float: left;
    width: 40%;
}

footer .middle p {
    text-align: center;
}

.left {
    float: left;
    width: 30%;
}

.rani_zivot {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.karijera {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

nav a.active {
    background-color: #c49264;
    color: #faf0e6;
  }
 nav a:hover:not(.active) {
    background-color: #d9b99b;
  }