body {
    background-color: #faf0e6; 
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
header {
    background-color: #faf0e6;
    color: black;
    text-align: center;
    padding: 20px 0;
}
h1 {
    font-size: 55px !important; 
    margin-bottom: 10px;
    margin-top: 2px;
    font-family: 'Public Sans', sans-serif;
}
a {
    color: black;
}
body,
nav ul li a,
.card-text,
footer p {
    font-family: 'Roboto', sans-serif; 
}
nav {
    background-color: #faf0e6;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #d9b99b;
    border-radius: 10px;
}
nav ul li a:hover {
    background-color: #c49264;
    color: #ffffff;
    border-color: #c49264;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #faf0e6 !important;
    color: #333;
}

h2 {
    font-weight: bold;
    color: #343a40;
    margin-bottom: 20px;
}

.cijelo{
    background-color: #faf0e6;
}

.card {
    border: none;
    background-color: #d9b99b !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card-img-top {
    max-height: 250px;
    object-fit: cover;
}


.card-text {
    color: #000000;
}

.star-rating .fa-star,
.star-rating .fa-star-half-alt,
.star-rating .far.fa-star {
    color: #faf0e6;
}

.btn-primary {
    background-color: #faf0e6 !important;
    border-color: #faf0e6 !important;
    color: black !important;
    transition: background-color 0.2s, border-color 0.2s;
}


.btn-primary:hover {
    background-color: #c49264 !important;
    border-color: #c49264 !important;
    color:#ffffff !important;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: left;
    font-size: 24px;
    margin-left: 180px;
}
footer {
    background-color: #d9b99b; 
    padding: 20px 0;
    text-align: left;
    clear: both; 
}

footer i {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

footer p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
}

footer .right {
    text-align: right;
    padding: 30px;
}

footer .right p {
    text-align: center;
}

.middle {
    text-align: center;
    float: left;
    width: 40%;
}

footer .middle p {
    text-align: center;
}

.left {
    float: left;
    width: 30%;
}

nav a.active {
    background-color: #c49264;
    color: #faf0e6;
  }
 nav a:hover:not(.active) {
    background-color: #d9b99b;
  }